<h2>Hello <%= @user.name %></h2>

<p>Congratulations!</p>

<p>You have just created a new talk on Porto Codes.</p>

<p>Here are the details:</p>
<ul>
  <li>Title: <%= @talk.title %></li>
  <li>Description: <%= @talk.description %></li>
  <li>Duration: <%= @talk.duration %></li>

</ul>
