<%- model_class = Talk -%>

<% content_for :head do %>
  <title>New Talk</title>
<% end %>

<div class="container">
  <div class="row">
      <h1 class="page-header">
        <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
      </h1>
      <%= render partial: 'form' %>
     </div>
  </div>
