<div class="container">
 <h1>SUBMIT A NEW TALK & LOGIN PAGE</h1>

  <div class="col-lg-6">
    <%= form_for :talk, :html => { :class => "form-horizontal talk" } do |f| %>

      <%= f.fields_for :user do |user_form| %>
        <%= render 'users/form' %>
      <% end %>

      <%= render 'talks/_form' %>
    <% end %>
  </div>
</div>


