<% content_for :head do %>
  <title><%= @user.name %>'s profile </title>
<% end %>

<div class="container">
  <h2>Edit Your Profile</h2>
  <%= render 'form' %>
</div>

<div class="container">
  <h2>Submitted talks</h2>

  <% if @talks.empty? %>
    <p>
      You haven't submitted any talks yet :(
      <%= link_to 'Submit a talk', new_talk_path, class: 'btn btn-primary' %>
    </p>
  <% else %>
    <% @talks.each do |talk| %>
      <p><%= talk.title %></p>
    <% end %>
  <% end %>
</div>
