<div id="article" class="col-lg-9 col-md-11">
  <h2>English</h2>

    <p>We are a group of software engineering enthusiasts that meet every month to
    share experiences.</p>

    <p>While we are primarily a Portuguese-focused meetup, international attendees
    are most welcome. We will try to accommodate the presentations if given enough
    heads up.</p>

    <h2>Português</h2>

    <p>Somos um grupo de entusiastas do desenvolvimento de software e áreas
    relacionadas que organiza eventos com o intuito de partilhar esse mesmo
    entusiasmo e fazer crescer um sentimento de comunidade.</p>

    <p>São bem vindas pessoas de todos os níveis de experiência e também de áreas
    relacionadas como design, gestão de projetos ou acessibilidade e encorajamos a
    partilharem as suas experiências.</p>

    <p>De momento temos os seguintes projectos em curso:</p>

    <ul>
      <li><strong>Porto Codes</strong> — Encontro mensal regular. Originalmente Porto.rb,
        mantém ainda um foco em desenvolvimento web, Ruby e JavaScript, mas com
        tendência a diversificar cada vez mais;</li>

      <li><strong>Code Games</strong> — Encontro esporádico. Formamos este
        grupo para practicarmos e melhorarmos técnicas de programação através da
        implementação de jogos;

        </li><li><a href="https://conversas.simplecast.fm/">Conversas Em Código</a> — Podcast mensal regular. Este podcast conta com a
        participação de membros do Porto Codes e aborda temas diversos da área do
        desenvolvimento de software.</li>
    </ul>

    <p>Ocasionalmente são organizados workshops mais específico, Ember.js por
    exemplo ou outro tipo de eventos.</p>

    <p>Junta-te ao nosso <a href="https://portorb.herokuapp.com">grupo de Slack</a> para falares connosco.</p>
</div>

