<div class="col-lg-8">


   <% 6.times do %>

    <div class="talk-post">

      <div class="start">{ <span>// TalkList @ PortoCodes</span></div>

      <h2>
        Lorem ipsum dolor sit amet consectetur adipiscing elit
        <small>02/04/2016 . 22h30 . <a href="http://maps.google.com" target="_blank" class="brand-tooltip" data-toggle="tooltip" data-placement="right" title="Porto.io">Where?</a></small>
      </h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt congue magna, in scelerisque est lobortis non. Maecenas nisi lectus, aliquet vel auctor non, tincidunt nec erat. Morbi placerat sit amet neque non sagittis. Nam scelerisque massa velit, vitae dictum odio tristique nec. Donec malesuada interdum justo. Suspendisse pretium augue at nunc hendrerit ultrices. In ut sem viverra, maximus erat facilisis, mattis nisi. Maecenas nec dolor ultrices, facilisis ex eget, suscipit enim.</p>

      <p>Aenean quis lacus metus. Morbi iaculis porta justo, nec auctor lectus eleifend a. Nunc sed orci sed dolor commodo vulputate in vitae massa. Maecenas cursus turpis sit amet ex varius ullamcorper.</p>

      <hr>

      <a href="#" class="btn btn-primary icon icon-video"><span></span> Watch video</a>

      <a href="#" class="btn btn-primary icon icon-download"><span></span> Download</a>

      <div class="end">} <span>// End.TalkList</span></div>

    </div>

  <% end %>


</div>
