 <a href="#" id ="panel-archive">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/500x250/EEE">
        <div class="caption">
          <h4>Archive</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
      </div>
    </div>
  </div>
</a>