 <a href="<%= users_path %>"id ="panel-users">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/500x250/EEE">
        <div class="caption">
          <h4>Users Manager</h4>
          <p>Manage all the users that are registered to the Speakers Queue. In here you can update and delete all profiles and set the roles for each user.</p>
      </div>
    </div>
  </div>
</a>