/***** Forms *****/
.field {
    margin-bottom: 10px;
    label {
        margin: 5px 0 0 0;
    }
    .control-label {
        font-family: $font-title;
    }
    .btn-primary {
        display: inline-block;
        color: $white;
        background-color: $brand-primary-darker;
        padding: 7px 12px 10px;
        margin-bottom: 8px;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $brand-primary-darkest;
        }
    }
}