body {
  font-family: $font-text;
  font-size: 16px;
  color: $gray-dark;
}

p {
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
  margin: 0 0 25px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  margin: 0 0 10px 0;
  line-height: 100%;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;

  small {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $brand-primary;
    margin: 10px 0 25px 0;
  }
}

a { @include transition(all 0.25s) }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 410px;
  background-color: $brand-primary;
  border: 0;
  @include border-radius(0);

  .container-fluid {

    .navbar-header {
      float: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background-color: $brand-primary-dark;

      .navbar-brand {
        float: none;
        padding: 0 70px 50px 70px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        height: auto;

        img {  }
      }

    }

    .navbar-collapse {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50% !important;
      padding: 50px 70px 0 70px;

      p {
        color: $white;
      }

      hr {
        display: block;
        margin: 0 0 25px 0;
        border: solid 2px $white;
        width: 60px;
        opacity: 0.75;
      }

      .navbar-nav {
        float: none;
        margin: 0 0 25px 0;

        li {

          a {
            font-family: $font-title;
            padding: 0;
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 17px;
            margin-right: 15px;

            &:hover, &:focus, &:active, &.active { opacity: 0.75 }
          }

        }

      }

      ul.social {
        li {
          a { color: $white }
        }
      }

    }
  }
}

section#content {
  margin: 90px 0 0 485px;
}