.navbar {
  display: flex;
  background-color: $brand-primary;
  width: 100%;
}

.navbar__brand {
  display: block;
  background-color: $brand-primary-darker;
  padding: 1em;
  width: 250px;
}

.navbar__profile {
  padding: 0em 2em;
  margin: 0;
  background-color: $brand-primary-dark;
  list-style-type: none;
  display: flex;
  align-items: center;
}

@media (max-width: #{$screen-md-min - 1px}) {
  .navbar__profile {
    padding: 0em 0.5em;
  }

  .navbar__current_user {
    display: none;
  }
}

@media (max-width: #{$screen-sm-min - 1px}) {
  .navbar {
    display: block;
  }

  .navbar__brand {
    width: 100%;
  }

  .navbar__profile {
    justify-content: space-between;

    li .btn-primary {
      margin-right: 0px;
      background-color: transparent;
    }
  }
}
