.navbar {
  display: flex;
  background-color: $brand-primary;
  width: 100%;
}

.navbar__brand {
  display: block;
  background-color: $brand-primary-darker;
  padding: 1em;
  width: 250px;
}

.navbar__profile {
  padding: 0em 2em;
  margin: 0;
  background-color: $brand-primary-dark;
  list-style-type: none;
  display: flex;
  align-items: center;
}
