.tooltip .tooltip-inner {
  background-color:$brand-primary-darker;
  font-family: $font-title;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 4px;
  @include border-radius(0);
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $brand-primary-darker
}

.tooltip.right .tooltip-arrow {
  border-right-color: $brand-primary-darker
}