<nav class="navbar navbar-default">
  <div class="navbar-header">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "logo.svg", alt: "Porto Codes", class: "img-responsive" %>
    <% end %>

    <div class="collapse navbar-collapse profile">
      <%= render 'layouts/components/nav_profile' %>
    </div>
  </div>
</nav>
